@import '../shareds.scss';

.form {
  &-label {
    font-size: 0.875rem;
    line-height: 1rem;
    color: $colorTitle;
  }
  &-control,
  &-select {
    border-color: $colorBorder;
    background-color: #F7F9FA;
    color: $colorTitle;
  }
}
